BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignEscapedNewlines: DontAlign
AlignTrailingComments: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
ColumnLimit: 160
ConstructorInitializerIndentWidth: 0
IncludeIsMainRegex: '(-decl|-stmt|-expr)?$'
IndentWidth: 4
PointerAlignment: Left
SpaceAfterTemplateKeyword: false
